img.logo-toolbar {
    width: 9%;
    margin-left: 8%;
  }

@media screen and (max-width: 600px) {
  img.logo-toolbar {
    width: 16%;
    margin-left: 0%;
  }
 }

 @media screen and (max-width: 450px) {
  img.logo-toolbar {
    width: 20%;
    margin-left: 0%;
  }
 }