img.logo-toolbar {
    width: 15%;
    margin-left: 11%;
  }

@media screen and (max-width: 8600px) {
  img.logo-toolbar {
    width: 18%;
  }
 }

@media screen and (max-width: 600px) {
  img.logo-toolbar {
    width: 16%;
    margin-left: 0%;
  }
 }

 @media screen and (max-width: 450px) {
  img.logo-toolbar {
    width: 20%;
    margin-left: 0%;
  }
 }

 md-content.background {
    background-image: url("/img/background.png");
    background-size: length;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
 }